@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #6495ed;
}

header {
    background-image: url('/images/header-website.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.navbar {
    background-color: white;
    overflow: hidden;
}

.navbar a {
    float: left;
    font-family: 'Press Start 2P';
    display: block;
    color: #6495ed;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h1 {
    font-family: 'Press Start 2P';
    color: white;
    text-align: center;
}

p {
    font-family: 'Press Start 2P';
    color: white;
    text-align: center;
}

.about {
    margin-left: auto;
    margin-right: auto;
}

img {
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 5px #888;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}